<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.raisetech.repository.UserMapper">

	<!-- ユーザー登録 -->
	<insert id="setUser">
		insert into user(
		id
		, name
		, birthdate
		, deleted
		, created_at
		, created_by
		, updated_at
		, updated_by
		, deleted_at
		, deleted_by
		)
		values (
		#{id}
		, #{name}
		, #{birthdate}
		, #{deleted}
		, #{createdAt}
		, #{createdBy}
		, #{updatedAt}
		, #{updatedBy}
		, #{deletedAt}
		, #{deletedBy}
		)
	</insert>
</mapper>